<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIDynamicTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD5ECC521ECB98CC00F818AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD5ECC661ECB98CC00F818AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD5ECC711ECB98CD00F818AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
